@media screen and (max-width: 1200px) {
  .main-navigation {
    width: 30%;
  }

  .row {
    margin: 0 40px;
  }

  .heading {
    width: 100%;
  }

  .in-box-heading {
    margin: 0;
  }

  .box-padding {
    padding: 40px;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .main-navigation {
    position: absolute;
    right: 0px;
    height: 100vh;
    width: 100%;
    top: 40px;
    background-color: #2e445b;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .main-navigation a {
    color: #02dac5;
  }

  .mobile-menu {
    display: block;
  }
}

.mobile-nav-active {
  transform: translateX(0%);
}
