@media screen and (max-width: 1200px) {
  .main-navigation {
    width: 30%;
  }

  .heading {
    width: 100%;
  }

  .in-box-heading {
    margin: 0;
  }

  .box-padding {
    padding: 5px;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .main-navigation {
    position: absolute;
    right: 0px;
    height: 100vh;
    width: 100%;
    top: 40px;
    background-color: #2e445b;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .main-navigation a {
    color: #02dac5;
  }

  .mobile-menu {
    display: block;
  }
  .col {
    margin-bottom: 20px;
  }

  .span-2-of-3 {
    width: 100%;
  }

  .span-1-of-3 {
    width: 100%;
  }

  .span-1-of-4 {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .mobile-nav-active {
    transform: translateX(0%);
  }
}

@media screen and (max-width: 640px) {
  .profile-img-box {
    height: 200px;
  }

  .text-box {
    padding: 40px 0;
  }

  .profile-text-box {
    padding: 50px 0;
  }

  .image-container img {
    margin: 15px 0;
    height: 150px;
  }
}

@media screen and (max-width: 561px) {
  .span-1-of-6 {
    width: 100%;
  }

  .line::before {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .profile-text-box {
    padding: 10px 0;
  }

  .profile-text-box p,
  .profile-text-box h3 {
    text-align: center;
  }

  .profile-text-box p:after {
    display: none;
  }

  .image-container {
    text-align: center;
  }

  .profile-img-box {
    height: 300px;
  }
}
