/* --------------------------------------------------- */
/*                      GENERAL                        */
/* --------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #444;
  color: #444;
  font-family: "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

/* --------------------------------------------------- */
/*                      HEADING                        */
/* --------------------------------------------------- */

h1,
h2,
h3 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 180%;
}

h3 {
  font-size: 120%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 40px;
  background-color: #333;
}

.logo h3 {
  color: rgb(238, 238, 238);
  letter-spacing: 5px;
  font-size: 80%;
}

.main-navigation {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.main-navigation li {
  list-style: none;
}

.main-navigation a {
  color: rgb(238, 238, 238);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 60%;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 20px;
  height: 2px;
  background-color: rgb(238, 238, 238);
  margin: 2px;
}

@media screen and (max-width: 1000px) {
  .main-navigation {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .main-navigation {
    position: absolute;
    right: 0px;
    height: 100%;
    top: 40px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .mobile-menu {
    display: block;
  }
}

.mobile-nav-active {
  transform: translateX(0%);
}
