/* --------------------------------------------------- */
/*                      GENERAL                        */
/* --------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #a8b2be;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

body {
  background-image: linear-gradient(rgba(100, 102, 235, 0.5), rgba(0, 0, 0, 0.95)), url(/resources/css/img/bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

/* --------------------------------------------------- */
/*                      HEADING                        */
/* --------------------------------------------------- */

h1,
h2,
h3 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 180%;
}

h3 {
  font-size: 120%;
}

/* --------------------------------------------------- */
/*                     NAVIGATION                      */
/* --------------------------------------------------- */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 50px;
  background-color: #2e445b;
  z-index: 1;
}

.logo h3 {
  color: #02dac5;
  letter-spacing: 5px;
  font-size: 90%;
}

.main-navigation {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.main-navigation li {
  list-style: none;
}

.main-navigation a {
  color: #02dac5;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 80%;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 20px;
  height: 2px;
  background-color: #02dac5;
  margin: 2px;
}

/* --------------------------------------------------- */
/*                    LANDING PAGE                     */
/* --------------------------------------------------- */

.big-box {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  width: 100%;
  height: auto;
  margin-top: 100px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 2px 2px 50px #222;
  margin-bottom: 50px;
}

.heading {
  background-color: #395572;
  box-shadow: 0 -1px 0.5px rgba(255, 255, 255, 0.24), inset 0 -1px 1px rgba(0, 0, 0, 0.5);
  border-top-right-radius: 20px;
}

.heading h2 {
  color: #02b8a7;
  padding: 10px;
  text-align: center;
}

.heading h3 {
  color: #02b8a7;
  padding: 10px;
  text-align: center;
}

.small-box {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(204, 204, 204);
  height: 400px;
  overflow-y: auto;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 10px 25px #222;
}

.box-padding {
  padding: 40px;
}

.text {
  padding: 25px;
}
