/* --------------------------------------------------- */
/*                      GENERAL                        */
/* --------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #a8b2be;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 20px;
}

body {
  background-image: linear-gradient(rgba(100, 102, 235, 0.5), rgba(0, 0, 0, 0.95)), url(/resources/css/img/bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

/* --------------------------------------------------- */
/*                      HEADING                        */
/* --------------------------------------------------- */

h1,
h2,
h3 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 180%;
}

h3 {
  font-size: 120%;
}

/* --------------------------------------------------- */
/*                      REUSABLE                       */
/* --------------------------------------------------- */

.big-box {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  width: 100%;
  height: auto;
  margin-top: 100px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 2px 2px 50px #222;
  margin-bottom: 50px;
}

.heading {
  background-color: #395572;
  box-shadow: 0 -1px 0.5px rgba(255, 255, 255, 0.24), inset 0 -1px 1px rgba(0, 0, 0, 0.5);
  border-top-right-radius: 20px;
}

.heading h2 {
  color: #02b8a7;
  padding: 1px;
  text-align: center;
  font-size: 100%;
}

.heading h3 {
  color: #02b8a7;
  padding: 10px;
  text-align: center;
}

.small-box {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(204, 204, 204);
  height: 400px;
  overflow-y: auto;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 10px 25px #222;
}

.box-padding {
  padding: 40px;
}
/*
.text {
  padding: 25px;
}
*/

/* --------------------------------------------------- */
/*                     NAVIGATION                      */
/* --------------------------------------------------- */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 50px;
  background-color: #2e445b;
  z-index: 1;
}

.logo h3 {
  color: #02dac5;
  letter-spacing: 5px;
  font-size: 90%;
}

.main-navigation {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.main-navigation li {
  list-style: none;
}

.main-navigation a {
  color: #02dac5;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 60%;
  text-transform: uppercase;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 20px;
  height: 2px;
  background-color: #02dac5;
  margin: 2px;
}

/* --------------------------------------------------- */
/*                      ABOUT ME                       */
/* --------------------------------------------------- */

.big-box1 p {
  padding: 40px;
  font-weight: 100;
  font-size: 80%;
}

.profile-img-box {
  background: linear-gradient(to top right, #2980b9, #2c3e50);
  border-bottom: 1px solid white;
  height: 400px;
  /*  text-align: center; */
}

.image-container {
  display: block;
  text-align: right;
}

.image-container img {
  margin: 60px 0;
  height: 250px;
  width: auto;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 1px 1px 15px #000;
  border: 1px solid #000;
}

.profile-img-box h3 {
  padding-left: 40px;
  text-align: left;
}

.text-box {
  padding: 150px 0;
}

.profile-img-box p {
  font-size: 80%;
  font-weight: 100;
  text-align: justify;
  padding: 0 40px;
}

.profile-img-box p::after {
  display: block;
  content: "";
  border-bottom: 1px solid #fff;
  padding-top: 5px;
  width: 23%;
}

/* --------------------------------------------------- */
/*                      WEATHER                        */
/* --------------------------------------------------- */

.weather-box {
  background: linear-gradient(to top right, #2980b9, #2c3e5050); /* Remove the last 50 */
  margin-top: 100px;
  border-radius: 25px;
}
.top-left {
  max-width: 100%;
  padding-left: 20px;
  padding-top: 20px;
}

.top-left h2 {
  text-shadow: 1px 2px #333;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 5px;
}

.todays-date {
  color: white;
  padding-top: 1px;
  padding-left: 20px;
  margin: 0;
  font-size: 70%;
  letter-spacing: 2.6px;
}

.top-right {
  text-align: right;
  max-width: 100%;
  padding-right: 20px;
  padding-top: 20px;
}

.top-right h2 {
  text-shadow: 1px 2px #333;
  color: white;
  font-size: 800%;
  line-height: 110px;
  padding-top: 20px;
  font-weight: 100;
  /* padding-right: 20px; */
  margin-bottom: 100px;
}

.aa {
  text-align: center;
}

.line::before {
  content: "";
  display: block;
  margin-top: 300px;
  width: 80%;
  margin: 0 auto;
  padding-top: 300px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.bar {
  font-size: 200%;
}

.next-hour {
  margin-top: 10px;
  margin-bottom: 10px;
}

.next-temp {
  margin-top: 10px;
}

.big-icon {
  font-size: 400%;
  color: white;
  text-shadow: 1px 1px black;
  padding-left: 40px;
  margin-top: 20px;
}

.weather-info {
  font-size: 150%;
  padding-left: 40px;
  margin-top: 20px;
}
